.bg-container {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto';
  font-weight: 800;
}
.image {
  height: 60%px;
  width: 70%;
  border-radius: 10px;
}
.heading {
  color: #1e293b;
  font-size: 22px;
  align-self: flex-start;
}
.para {
  color: #64748b;
  font-size: 16px;
  align-self: flex-start;
}
.unordered-list {
  display: flex;
  justify-content: flex-start;
}
